
@{
    ViewBag.Title = "GetRolesForUserConfirmed";
}

<h2>Get Roles For this user</h2>
<div>
    <ol>
        @foreach(string role in ViewBag.userRoles)
            {
                <li>@role</li>
            }
    </ol>
</div>
@Html.ActionLink("Back", "GetRolesForUser");
