
@{
    ViewBag.Title = "GetUsers";
}

<h2>List Of Users</h2>

<p>
    @Html.ActionLink("Create New", "CreateRole")
</p>


@foreach (var user in Model)
{
    <p>
        @user.UserName|
        @Html.ActionLink("Edit", "EditUser", new { Id = user.Id }) |
        @Html.ActionLink("Delete", "DeleteUser", new { Id = user.Id })

    </p>
}